@page "/movies/filter"
@using PeliculaIISemanaIV.Client.Pages.Components
@* Inyectar el servicio*@
@inject IServiceMovie movie
<div class="container">
    
<div class="jumbotron">
    @*Campo en el cual el usuario ingresa el nombre o el texto a buscar en la lista de interfaz o servicio*@
    <div class="form-group mb-3">
        <input type="text" @bind-Value="movie_name" @bind-Value:event="oninput"
            @onkeypress="@((KeyboardEventArgs e)=>MovieSearch(e))" class="form-control" id="movie_name"
            placeholder="Buscar película" />
    </div>
</div>

@*Lista desplegable con todos las categorias disponbles*@
<div class="form-group mb-3">
    <select class="form-control" @bind="categorySelected">
        <option value="0">Selecciona una categoría</option>
        @foreach (var item in categories)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>

    @* Opciones de categorías de consulta de películas en chackbox min 50*@
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-3">
            <input type="checkbox" class="form-check-input" id="estrenos" @bind="futurosEstrenos">
            <label class="form-check-label" for="estrenos">Próximos estrenos </label>
        </div>

        <div class="form-group mx-sm-3 mb-3">
            <input type="checkbox" class="form-check-input" id="cartelera" @bind="enCartelera">
            <label class="form-check-label" for="cartelera">En cartelera </label>
        </div>

        <div class="form-group mx-sm-3 mb-3">
            <input type="checkbox" class="form-check-input" id="mejor_calificada" @bind="mejorCalificada">
            <label class="form-check-label" for="estrenos">Mejor calificadas </label>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-primary mb-2 mx-sm-3"@onclick="ShowMovies">Buscar</button>
        <button type="button" class="btn btn-danger mb-2 mx-sm-3"@onclick="ClearInputs">Limpiar campos</button>
    </div>

</div>

@*Traer el componente de películas *@
<ServiceComponent Movies = "Movies"></ServiceComponent>
</div>

@code{
    private List<Movie> Movies;
    private List<Category> categories = new List<Category>();
    string movie_name ="";
    string categorySelected ="";
    private bool futurosEstrenos = false;

    private bool enCartelera = false;
    private bool mejorCalificada = false;

    protected override void OnInitialized(){
        Movies = movie.GetMovies();
    }
@*1:01*@
    private void ShowMovies(){
        Movies = movie.GetMovies().Where(x=>x.Name.ToLower().Contains(movie_name.ToLower())).ToList();
        Console.WriteLine($"Película: {movie_name}, categoria seleccionada {categorySelected}");
        Console.WriteLine($"PróximosEstrenos: {futurosEstrenos}, en cartelera {enCartelera} mejor calificada {mejorCalificada}");
}

private void ClearInputs (){
    Movies = movie.GetMovies();
    movie_name = "";
    categorySelected = "0";
    futurosEstrenos = false;

    enCartelera = false;
    mejorCalificada = false;

}
    private void MovieSearch(KeyboardEventArgs e){
        if (e.Key == "Enter")
        {
            ShowMovies();  
        }
    }

}

@*Prueba en 1:08*@
 